body {
    font: 14px "Century Gothic", Futura, sans-serif;      /* CHANGE FONT */
    /* margin: 70px; */
  }
  
  /* ol, ul {
    display: flex;
    flex-direction: column;
  } */
  
  
  .board-row:after {
    clear: both;
    content: "";
    display: table;
  }
  
  /* .status {
    margin-bottom: 10px;
  } */
  
  .square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 50px;
    font-weight: bold;
    line-height: 70px;
    height: 70px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 70px;
  }
  
  .square:focus {
    outline: none;
  }
  
  .kbd-navigation .square:focus {
    background: #ddd;
  }
  
  .container {
    display: flex;
    flex-direction: column;
  }

  .headerDiv {
    display: flex;
    margin: 10px;
    justify-content: center;
  }

  .headerWrapper {
    display: flex;
    max-width: 350px;

  }
  .App-logo {
    flex: 1;  
    height: 8vmin;
    pointer-events: none;
    align-self: baseline;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 10s linear;
    }
  }

  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  .header {
    color: #1571cd;
    flex: 2;
    font-size: 5vw;
  }
  
  .game {
    display: flex;
    flex-direction: column;
    margin: auto;
  }
  
  .game-board {
    margin: auto;
  }

  .game-blank-space {
    margin: 10%;
  }

  /* .game-info {
    margin-top: 200px;
    margin: auto; 
  } */

  .nextPlayer {
    text-align: center;
    font: 30px "Century Gothic", Futura, sans-serif;      /* CHANGE FONT */
  }

  /* .ulDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none; 
  } 
  */

  .liDiv {
    list-style-type: none; /* Remove bullets */
    display: flex;
    justify-content: center;
    align-items: center;


  }
  