body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 50px;
  }
  
  ol, ul {
    display: flex;
  }
  
  
  .board-row:after {
    clear: both;
    content: "";
    display: table;
  }
  
  /* .status {
    margin-bottom: 10px;
  } */
  
  .square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 50px;
    height: 50px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 50px;
  }
  
  .square:focus {
    outline: none;
  }
  
  .kbd-navigation .square:focus {
    background: #ddd;
  }
  
  .container {
    display: flex;
  }

  .game {
    display: flex;
    flex-direction: column;
    margin: auto;
  }
  
  .game-board {
    margin-bottom: 20%;
  }

  .game-blank-space {
    margin: 30%;
  }
  .game-info {
    /* margin-top: 200px; */
    /* margin: auto; */
  }
  